!!!5
html
  head
    title #{title} - Bibliosoph
    link(rel='stylesheet', href='/css/style.css')
  body
    header.page-head
      a(class="logo", href="/") Bibliosoph
      .page-cta
        a(class="download", href="#") Download
        a(class="github", href="#") See on github
    nav.page-nav
      div.main-menu
        ul
          li
            a(class="manifesto", href="/manifesto") Manifesto
          li
            a(class="components", href="/components") Components
          li
            a(class="develop", href="/develop") Develop
          li
            a(class="discuss", href="/discuss") Discuss
      div.sub-menu
        ul
          li Image
            ul
              li
                a(href="#") Responsive

    block content

    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
    script(src='/js/script.js')