@import url("http://fonts.googleapis.com/css?family=Dosis:400,700|Inconsolata:400,700");
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
html {
  overflow-x: hidden;
}
body {
  background: #fff;
  color: #636466;
  font-family: 'Dosis', Helvetica, Arial, sans-serif;
  min-height: 100%;
}
:focus {
  outline: 0;
}
h1,
h2,
h3,
h4 {
  color: #222;
  font-family: 'Dosis', Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  text-rendering: optimizeLegibility;
  margin: 0;
}
h1 {
  font-family: 24px;
  font-weight: normal;
  line-height: 48px;
}
h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
}
h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}
h4 {
  font-size: 14px;
  line-height: 24px;
}
p {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}
p code {
  line-height: 24px;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
a {
  color: #1e95cd;
  cursor: pointer;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #222;
  text-decoration: underline;
}
ol,
ul,
dl {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}
ul {
  list-style: disc;
}
dl {
  margin: 0;
  padding: 0;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin: 0 0 24px;
}
abbr {
  font-variant: small-caps;
  font-style: normal;
  letter-spacing: 0.1em;
  text-transform: lowercase;
}
blockquote {
  position: relative;
  margin: 24px 0 0 50px;
  padding-top: 24px;
}
blockquote:before {
  font-family: 'Dosis', Helvetica, Arial, sans-serif;
  color: #ccc;
  font-size: 50px;
  content: '“';
  position: absolute;
  top: 0px;
  left: -30px;
}
blockquote cite {
  color: #666;
  font-family: 'Dosis', Helvetica, Arial, sans-serif;
  font-style: italic;
  text-align: right;
  display: block;
}
pre {
  overflow: auto;
  margin: 0;
  padding-bottom: 12px;
}
code {
  font-family: 'Inconsolata', 'Lucida Console', Monaco, monospace;
  font-size: 14px;
  line-height: 24px;
}
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code,
p code,
li code,
dt code,
dl code {
  background: #dce4e7;
  line-height: 20px;
  padding: 0 2px;
}
h1+h1,
h2+h1,
h3+h1,
h4+h1,
h5+h1,
h6+h1,
p+h1,
ul+h1,
ol+h1,
dl+h1,
blockquote+h1,
pre+h1,
h1+h2,
h2+h2,
h3+h2,
h4+h2,
h5+h2,
h6+h2,
p+h2,
ul+h2,
ol+h2,
dl+h2,
blockquote+h2,
pre+h2,
h1+h3,
h2+h3,
h3+h3,
h4+h3,
h5+h3,
h6+h3,
p+h3,
ul+h3,
ol+h3,
dl+h3,
blockquote+h3,
pre+h3,
h1+h4,
h2+h4,
h3+h4,
h4+h4,
h5+h4,
h6+h4,
p+h4,
ul+h4,
ol+h4,
dl+h4,
blockquote+h4,
pre+h4,
h1+h5,
h2+h5,
h3+h5,
h4+h5,
h5+h5,
h6+h5,
p+h5,
ul+h5,
ol+h5,
dl+h5,
blockquote+h5,
pre+h5,
h1+h6,
h2+h6,
h3+h6,
h4+h6,
h5+h6,
h6+h6,
p+h6,
ul+h6,
ol+h6,
dl+h6,
blockquote+h6,
pre+h6,
h1+p,
h2+p,
h3+p,
h4+p,
h5+p,
h6+p,
p+p,
ul+p,
ol+p,
dl+p,
blockquote+p,
pre+p,
h1+ul,
h2+ul,
h3+ul,
h4+ul,
h5+ul,
h6+ul,
p+ul,
ul+ul,
ol+ul,
dl+ul,
blockquote+ul,
pre+ul,
h1+ol,
h2+ol,
h3+ol,
h4+ol,
h5+ol,
h6+ol,
p+ol,
ul+ol,
ol+ol,
dl+ol,
blockquote+ol,
pre+ol,
h1+dl,
h2+dl,
h3+dl,
h4+dl,
h5+dl,
h6+dl,
p+dl,
ul+dl,
ol+dl,
dl+dl,
blockquote+dl,
pre+dl,
h1+blockquote,
h2+blockquote,
h3+blockquote,
h4+blockquote,
h5+blockquote,
h6+blockquote,
p+blockquote,
ul+blockquote,
ol+blockquote,
dl+blockquote,
blockquote+blockquote,
pre+blockquote,
h1+pre,
h2+pre,
h3+pre,
h4+pre,
h5+pre,
h6+pre,
p+pre,
ul+pre,
ol+pre,
dl+pre,
blockquote+pre,
pre+pre {
  margin-top: 24px;
}
form {
  margin: 0;
  padding: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 0 35px;
  padding: 24px 12px 12px;
}
label,
.label {
  display: block;
}
button,
input,
select,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="password"],
textarea {
  border: 1px solid #000;
  line-height: 16px;
  display: block;
  padding: 8px/2 12px;
  height: 24px;
}
textarea {
  overflow: auto;
  vertical-align: top;
  height: 78px;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
select {
  cursor: pointer;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
.page-head {
  background: #f2f7f9;
  border-bottom: 1px solid #acbec4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  z-index: 300;
}
.page-head .logo {
  color: #222;
  line-height: 48px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  float: left;
  margin-left: 12px;
  height: 48px;
}
.page-head .page-cta {
  float: right;
  margin: 12px 12px 0 0;
}
.page-head .page-cta a {
  border: 1px solid #dce4e7;
  color: #1e95cd;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  margin: 0 0 12px 8px;
  padding: 4px 12px;
  height: 16px;
}
.page-head .page-cta a:hover {
  background: #1e95cd;
  border: 1px solid transparent;
  color: #fff;
}
.page-nav {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 48px;
  height: 100%;
  z-index: 200;
}
.page-nav.fixed {
  position: fixed;
  top: -48px;
}
.page-nav .main-menu {
  background: #dce4e7;
  border-top: 1px solid #f2f7f9;
  border-right: 1px solid #acbec4;
  -webkit-box-shadow: 1px 0 2px 0 #acbec4;
  box-shadow: 1px 0 2px 0 #acbec4;
  position: relative;
  height: 100%;
  z-index: 5;
}
.page-nav .main-menu ul {
  list-style: none;
  zoom: 1;
  margin: 0;
  padding: 0;
  width: 96px;
}
.page-nav .main-menu ul:before,
.page-nav .main-menu ul:after {
  content: "";
  display: table;
}
.page-nav .main-menu ul:after {
  clear: both;
}
.page-nav .main-menu li {
  border-top: 1px solid #acbec4;
  border-bottom: 1px solid #f2f7f9;
  position: relative;
  margin-top: -2px;
  padding-bottom: 2px;
  height: 96px;
  z-index: 5;
}
.page-nav .main-menu li:first-child {
  border-top: 0;
  margin-top: 0;
  padding-bottom: 1px;
}
.page-nav .main-menu li:first-child a {
  border-top: 0;
}
.page-nav .main-menu li:first-child:hover {
  border-top: 0;
}
.page-nav .main-menu li:first-child:hover a {
  border-top: 0;
}
.page-nav .main-menu li:last-child {
  border-bottom: 0;
}
.page-nav .main-menu li:after,
.page-nav .main-menu li:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transition: 0.1s all linear;
  -moz-transition: 0.1s all linear;
  -o-transition: 0.1s all linear;
  -ms-transition: 0.1s all linear;
  transition: 0.1s all linear;
}
.page-nav .main-menu li:after {
  border-left: 8px solid #d1dce0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  margin-top: -8px;
  z-index: 1;
}
.page-nav .main-menu li:before {
  border-left: 10px solid #acbec4;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  margin-top: -10px;
  z-index: 0;
}
.page-nav .main-menu li:hover {
  border-top: 1px solid #acbec4;
  border-bottom: 1px solid #acbec4;
  z-index: 10;
}
.page-nav .main-menu li:hover:after {
  right: -8px;
}
.page-nav .main-menu li:hover:before {
  right: -10px;
}
.page-nav .main-menu li:hover a {
  background: #d1dce0;
  border-color: transparent;
}
.page-nav .main-menu a {
  background: #dce4e7;
  border-top: 1px solid #f2f7f9;
  border-bottom: 1px solid #acbec4;
  color: #636466;
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  display: block;
  position: relative;
  padding-top: 72px;
  height: 24px;
  z-index: 2;
  -webkit-transition: 0.4s background linear;
  -moz-transition: 0.4s background linear;
  -o-transition: 0.4s background linear;
  -ms-transition: 0.4s background linear;
  transition: 0.4s background linear;
}
.page-nav .sub-menu {
  background: #d1dce0;
  border-right: 1px solid #acbec4;
  list-style: none;
  -webkit-transition: 0.3s all cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition: 0.3s all cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: 0.3s all cubic-bezier(0.86, 0, 0.07, 1);
  -ms-transition: 0.3s all cubic-bezier(0.86, 0, 0.07, 1);
  transition: 0.3s all cubic-bezier(0.86, 0, 0.07, 1);
  position: absolute;
  top: 48px;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 248px;
  z-index: 0;
}
.page-nav .sub-menu.open {
  right: -248px;
}
.page-nav .sub-menu li:last-child {
  border-bottom: 1px solid #dce4e7;
}
.page-nav .sub-menu a {
  border-top: 1px solid #dce4e7;
  line-height: 47px;
  display: block;
  padding: 0 24px;
  height: 47px;
}
.page-nav .sub-menu a:hover {
  background: #c7d3d8;
  border-top: 1px solid #acbec4;
  text-decoration: none;
}
.page-body {
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0;
}
.document-nav {
  background: #fff;
  border-right: 1px solid #dce4e7;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 24px 0 24px 24px;
  width: 224px;
}
.document-nav.fixed {
  position: fixed;
  left: 0;
}
.document-nav .title {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}
.document-nav ul+.title {
  margin-top: 24px;
}
.document-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.document-nav ul ul {
  display: none;
  margin: 0 0 6px 12px;
}
.document-nav ul ul li {
  font-size: 12px;
  line-height: 20px;
}
.document-nav a {
  display: block;
  padding-right: 24px;
}
.document-nav .current {
  border-right: 3px solid #1e95cd;
  color: #222;
  font-weight: bold;
}
.document-nav .current:hover {
  color: #222;
  text-decoration: none;
}
.document-nav .active ul {
  display: block;
}
.anchor {
  display: block;
  overflow: hidden;
  width: 0;
  height: 0;
}
section .anchor:first-child {
  margin-top: -48px;
}
body.leftNav .page-body {
  left: 96px;
}
body.leftNav .document-nav.fixed {
  left: 96px;
}
.one-col .document-content {
  padding: 48px;
  min-width: 300px;
  min-height: 100%;
  max-width: 600px;
}
.one-col.with-nav .document-content {
  margin-left: 248px;
}
.two-col .document-content {
  min-width: 800px;
  min-height: 100%;
}
.two-col .document-wrap {
  background: #f2f7f9;
  border-left: 1px solid #dce4e7;
  -webkit-box-shadow: #dadfe5 -1px 0 0, rgba(0,0,0,0.05) 1px 0 2px inset;
  box-shadow: #dadfe5 -1px 0 0, rgba(0,0,0,0.05) 1px 0 2px inset;
  zoom: 1;
  margin-left: 50%;
  min-height: 100%;
}
.two-col .document-wrap:before,
.two-col .document-wrap:after {
  content: "";
  display: table;
}
.two-col .document-wrap:after {
  clear: both;
}
.two-col .document-wrap section {
  overflow: hidden;
  margin-left: -100%;
}
.two-col .document-wrap section section {
  float: left;
  margin: 0;
  width: 100%;
}
.two-col .document-wrap > section + section {
  border-top: 1px solid #dce4e7;
}
.two-col .document-wrap .left,
.two-col .document-wrap .right {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 48px;
  width: 50%;
}
.two-col .document-wrap .left {
  clear: both;
}
.two-col .document-wrap .right {
  clear: right;
  float: right;
  padding-top: 96px;
}
.two-col .document-wrap .right > h2:first-child {
  margin-top: -48px;
}
.two-col .document-wrap .right h3 {
  color: #acbec4;
  font-family: 'Inconsolata', 'Lucida Console', Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.two-col .document-wrap .right h3+pre {
  margin: 0;
}
.two-col.with-nav .document-content {
  margin-left: 248px;
}
