- title('Add a page')

div.left
    :markdown
        ## Add a page

        As a convention, each documentation page is contained into a folder inside the `views/`. For instance the homepage documentation of Bibliosoph sits in `views/home/`. If you want to create a **tutorial** page, just add a `views/tutorial/` folder.

        A documentation folder has `*.jade` templates files and a `menu.json`. The `*.jade` files are sections of the documentation and the `menu.json` file is there to define in what order you want to include the sections; it is also used to generate the navigation (if you use a layout with a navigation).

   
div.right
    :markdown
        ### Documentation structure
        ```none
        views/
            home/
            |   menu.json
            |   intro.jade
            |   license.jade
            |   ...
            tutorial/
        ```
