
// COLORS
// ---------------------------------------------

$text                       = #636466
$text-strong                = #232323
$title                      = #232323

$link                       = #232323
$link-hover                 = grey
$link-active                = #FFF

$menu						= #aaa
$menu-hover					= #444

$block-bg1					= #FFF
$block-bg2					= #f1f1f1
$block-border				= #d3d3d3


// Z-INDEX
// ---------------------------------------------

// Over 1000, over anything on the page (popup)
$z-page-nav     = 400
$z-header       = 300



// TYPOGRAPHY
// ---------------------------------------------

// baseline
$base-font-size           = 16px;
$base-line-height         = 24px;

// font families
$f-serif                  = Georgia, "Times New Roman", serif;
$f-sans                   = 'DIN Next W01 Regular', Helvetica, Arial, sans-serif;
$f-heading                = 'VDS', Helvetica, Arial, sans-serif;

// font size
$f-scale                  = 1.2;
$f-large                  = $base-font-size;
$f-xlarge                 = round($f-large * $f-scale);
$f-xxlarge                = round($f-xlarge * $f-scale);
$f-medium                 = round($f-large / $f-scale);
$f-small                  = round($f-medium / $f-scale);
$f-xsmall                 = round($f-small / $f-scale);
$f-xxsmall                = round($f-xsmall / $f-scale);


// IMAGES
// ---------------------------------------------

// $sprite                   = image-url("sprite.png");


// GRID
// ---------------------------------------------

// vertical
// $total-columns  = 12;
// $column-width   = 60px;
// $gutter-width   = 20px;
// $grid-padding   = 0;
