include /mixins
- title('REST API')

div.left
    :markdown
        ## REST API

        If you need to document a REST API, you can easily create documentations like so:


div.right

div.full
    h3 How it renders:

    div.rest.accordion
        mixin rest('Get a users', 'get', '/users/:id', [{ name: "id" , value: "1" , description: "The id of the user to get" }])
        mixin rest('Create a user', 'post', '/users', [{ name: "email" , value: "email@exemple.com" , description: "The email for the new user" }, { name: "password" , value: "12345" , description: "The password for the new user" }])
        mixin rest('Edit a user', 'put', '/users/:id', [{ name: "id" , value: "1" , description: "The id of the user to edit" }, { name: "email" , value: "email@exemple.com" , description: "The new email for the user to edit" }, { name: "password" , value: "12345" , description: "The new password for the user to edit" }])
        mixin rest('Delete a user', 'delete', '/users/:id', [{ name: "id" , value: "1" , description: "The id of the user to delete" }])
