
// TITLES
// ---------------------------------------------
h1, h2, h3, h4 {
  color: $title;
  font-family: $f-heading;
  letter-spacing: 2px;
  text-rendering: optimizeLegibility;
  margin: 0;
}

h1 {
  font-family: 24px;
  font-weight: normal;
  line-height: h(2);
}

h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: h();
}

h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: h();
}

h4 {
  font-size: 14px;
  line-height: 24px;

}



// PARAGRAPHS
// ---------------------------------------------
p {
  font-size: $f-medium;
  line-height: $base-line-height;
  @include trailer(1, $f-medium);
}
strong { 
  // font-family:'DIN Next W01 Bold';
  font-weight: bold;
}
em {
  font-style: italic;
}


// LINKS
// ---------------------------------------------
a {
  color: $link
  cursor: pointer
  text-decoration: none

  &:hover, &:focus {
    color: $link-hover
    text-decoration: underline
  }
}


// LISTS
// ---------------------------------------------
ol, ul {
  font-size: $f-medium;
  line-height: $base-line-height;
  margin: 0
}

ul {
  list-style: disc;
}

dl {
  margin: 0; padding: 0;

  dt, dd {
    @include adjust-font-size-to($f-medium);
    margin: 0; padding: 0;
  }
}


// ABBR
// ---------------------------------------------
abbr {
  font-variant: small-caps;
  font-style: normal;
  letter-spacing: 0.1em;
  text-transform: lowercase;
}


// QUOTES
// ---------------------------------------------
blockquote {
  position: relative;
  margin: h() 0 0 50px;
  padding-top: h();

  &:before {
    font-family: $f-sans;
    color: #CCC;
    font-size: 50px;
  
    content: '“';
    position: absolute;
    top: 0px; left: -30px;
  }

  cite {
    color: #666;
    font-family: $f-sans;
    font-style: italic;
    text-align: right;
    display: block;
  }
}

// CODE
// ---------------------------------------------
pre {
  overflow: auto
  padding-bottom: h(.5)
}

code {
  font-family:'DroidSansMonoW01-Regula';
}
