- title('Introduction')

div.left
    :markdown
        ## Usage

        Bibliosoph is customizable. You can add a left menu (like on this site) if you plan on having many pages, you can add a page navigation if your page is long. Plus, the layout will update automatically based on what you define in the `config.json`. Let's explore your options.
