- title('Branding')

div.left
    :markdown
        ## Brand it

        Depending on your project's documentation, you may need different levels of organization. Maybe you need a simple on-page documentation or a more structured documentation with pages.
