- title('Branding')

div.left
    :markdown
        ## Brand it

        Depending on your project's documentation, you may need different levels of organization. Maybe you need a simple on-page documentation or a more structured documentation with pages.

        ### Edit the layout

        Just open the `views/layout.jade` and edit whatever you want in it to fit your needs. Change the title, change the .logo text, set the menu items...



div.right
    :markdown
        ## Roadmap

        - Configuration: github project, download, name...
        - Breadcrumb
        - Layouts: top nav, left nav, no nav
        - Code Hilighting
        - Code comments
        - Compile site into static HTML
        - Documentation versioning