- title('Changelog')

div.left
    :markdown
        ## Changelog

        ### 0.1

        First version.

div.right
    :markdown
        ## Roadmap

        - Breadcrumb
        - Layouts: top nav, left nav, no nav
        - Code Hilighting
        - Code comments
        - Compile site into static HTML
        - Documentation versioning