- title('Changelog')

div.left
    :markdown
        ## Changelog

        **0.4.0**

        - Make it themable
        - Fix minor css bugs

        **0.3.0 - June 27th 2013**

        - Add Element: REST API docs
        - Update URL hash when scrolling
        - Simplify the repository URL configuration
        - Add an optional "Powered by Bibliosoph" link

        **0.2.0 - June 2nd 2013**

        - Add connect-asset to handle js and css files
        - Add syntax highlighting using highlight.js
        - Add Elements: blocks, notes, JSFiddle, Github, FAQ


        **0.1**

        First version.

