- title('Changelog')

div.left
    :markdown
        ## Changelog

        ### 0.2
        - Add connect-asset to handle js and css files
        - Add syntax highlighting using highlight.js
        - Add Elements: blocks, notes, JSFiddle, Github, FAQ


        ### 0.1
        First version.

div.right.no-padding
    :markdown
        ## Roadmap

        - Add Element: FAQ
        - Code comments
        - Compile site into static HTML
        - Documentation versioning