- title('Changelog')

div.left
    :markdown
        ## Changelog

        ### 0.2
        - Add syntax highlighting using highlight.js
        - Add Elements: blocks, notes, JSFiddle, Github


        ### 0.1
        First version.

div.right.no-padding
    :markdown
        ## Roadmap

        - Code comments
        - Playground
        - search
        - Breadcrumb
        - Compile site into static HTML
        - Combine/Minify assets
        - Documentation versioning