- title('Elements')

div.left
    :markdown
        ## Elements

        Bibliosoph comes with different elements that you can use in your documentation to make more functional and better looking.
        