- title('Get started')

div.left
    :markdown
        ## Get started

        Three small steps to get it running:

        ```
        git clone git@github.com:pillars/bibliosoph.git my-documentation-website
        cd my-documentation-website
        npm install
        node app.js
        ```

        Then go to `http://localhost:3000/` and see the base template. It's time to customize it to your needs


//- div.right
//-     :markdown
