- title('Using Git')

div.left
    :markdown
        ### Using Git

        - Clone the project github repo
        - Install module
        - Start server

        Then go to `http://localhost:5000/` (or the port number you configured) and tadam! It's time to customize it to your needs.


div.right
    :markdown
        ```
        git clone git@github.com:pillars/bibliosoph.git my-documentation-website
        cd my-documentation-website & npm install
        node app.js
        ```