- title('Get started')

div.left
    :markdown
        ## Get started

        There is two ways to get started: Yeoman and Git. We recommend you use Yeoman as it is a cleaner install as it doesn't come with all the views of Bibliosoph and will guide you into populating the `config.json`.