- title('Introduction')
div.left
    :markdown
        ## Concept

        Bibliosoph aims to let you quickly write awesome looking documentation for you project. It is a compilation of the best practices found in different project documentation over the web.

        Bibliosoph is a base website based on Node/Express that you can tweak to your needs. It provides some basic utilities for parsing and combining static documentation files into a nice UI.


div.right
    :markdown
        ## Bla