- title('Introduction')
div.left
    :markdown
        ## Introduction

        Bibliosoph is a base website written with Node/Express that let you quickly create awesome looking documentation for your projects. It is a compilation of the best practices found in documentations over the web.

    dl
        dt Reponsive
        dd It adapts to all displays: computer, tablet, phone...

        dt Themable
        dd You can chose from colorful themes and create your own.