- title('License')

div.left
    :markdown
        ## MIT License

        Do what the fuck you want with this. Feel free to contribute, fork, love, hate...

div.right
    :markdown
        ## Credits

        This project is highly inspired by the amazing documentation at Stripe.