- title('License')

div.left
    :markdown
        ## MIT License

        Do what the fuck you want with this. Feel free to contribute, fork, love, hate...

div.right.no-padding
    :markdown
        ## Credits

        This project is highly inspired by the amazing documentation at [Stripe](https://stripe.com/docs/api.

        The icons used come from [TWG](http://blog.twg.ca/2010/11/retina-display-icon-set/).