- title('Changelog')

div.left
    :markdown
        ## Changelog

        **0.3.0**

        - Add Element: REST API docs
        - Update URL hash when scrolling
        - Simplify the repository URL configuration
        - Add an optional "Powered by Bibliosoph" link

        **0.2.0**

        - Add connect-asset to handle js and css files
        - Add syntax highlighting using highlight.js
        - Add Elements: blocks, notes, JSFiddle, Github, FAQ


        **0.1**

        First version.

div.right.no-padding
    :markdown
        ## Roadmap

        - Add a section for documentation best practices
        - Code comments
        - Documentation versioning

        ## Spread the world

        - Fork https://github.com/PharkMillups/beautiful-docs
        - Write documentation for popular project
        - Hacker news