- title('Using Yeoman')

div.left
    :markdown
        ### Using Yeoman (recommended)

        - Install yeoman
        - Install the bibliosoph generator
        - Create a directory and cd into it
        - Create a new blank bibliosoph project
        - Start server

        Then go to `http://localhost:5000/` (or the port number you configured) and tadam! It's time to customize it to your needs.

div.right
    :markdown
        ```
        npm install -g yo grunt-cli
        npm install -g generator-bibliosoph
        mkdir my-documentation-website & cd $_
        yo bibliosoph
        node app.js
        ```
