- title('Get started')

div.left
    :markdown
        ## Get started

        There is two ways to get started. We recommend you use Grunt as it is a cleaner install. It doesn't come with all the bibliosoph views and it walk you into configuring it.