- title('Using Git')

div.left
    :markdown
        ### Using Git

        Three small steps to get it running:

        - Clone the project github repo
        - Install module
        - Start server

        Then go to `http://localhost:5000/` and see the base template. It's time to customize it to your needs.


div.right
    :markdown
        ### Commands to run
        ```
        git clone git@github.com:pillars/bibliosoph.git my-documentation-website
        cd my-documentation-website
        npm install
        node app.js
        ```