- title('Using Yeoman')

div.left
    :markdown
        ### Using Yeoman

        The advantage of using yeoman is that it will guide you into populating the config.json.

        - Install yeoman
        - Install the bibliosoph generator
        - Create a new blank bibliosoph project
        - Start server

        Then go to `http://localhost:5000/` (or the port number you configured) and see the base template. It's time to customize it to your needs.

div.right
    :markdown
        ### Commands to run
        ```
        npm install -g yo grunt-cli
        npm install -g generator-bibliosoph
        mkdir my-documentation-website & cd $_
        yo bibliosoph
        node app.js
        ```
