- title('Introduction')
div.left
    :markdown
        ## Introduction

        Bibliosoph is a base website written with Node/Express that let you quickly create awesome looking documentation for your projects. It is a compilation of the best practices found in documentations over the web.