- title('License')

div.left
    :markdown
        ## MIT License

        Do what you want with this. Feel free to contribute, fork, love, hate...

div.right.no-padding
    :markdown
        ## Credits

        Bibliosoph takes his inspiration from various documentation projects like [Stripe](https://stripe.com/docs/api), [Github documented source](http://backbonejs.org/docs/backbone.html), [Symfony](http://symfony.com/doc/current/book/http_fundamentals.html), [Posterous](https://posterous.com/api)...

        The icons used come from [TWG](http://blog.twg.ca/2010/11/retina-display-icon-set/).