.one-col {
    .document-content {
        padding: h(2)
        min-width: 300px
        min-height: 100%
        max-width: 600px
    }

    &.with-nav {
        .document-content {
            margin-left: 248px
        }
    }
}