$header-height = h(2)
$main-menu-width = h(4)

.page-head {
    background: $blue-bg
    border-bottom: 1px solid $blue-bg-dark

    position: fixed
    top: 0
    left: 0
    right: 0
    height: $header-height
    z-index: $z-header

    .logo {
        color: $title
        line-height: $header-height
        font-size: 24px
        font-weight: bold
        text-decoration: none

        float: left
        margin-left: h(.5)
        height: $header-height
    }

    .page-cta {
        float: right 
        margin-right: h(.5)

        a {
            background: $blue
            border: 1px solid $blue-bg-dark
            border-radius: 12px
            color: #FFF
            font-size: 12px
            line-height: 16px
            text-decoration: none

            float: right
            margin: h(.5) 0 h(.5) 8px
            padding: 4px 12px
            height: 16px
        }
    }
}

.page-nav {
    $grey-bg     = #565656
    $grey-hover  = #333
    $grey-dark   = #1b1b1b
    $grey-light  = #444

    background: $grey-bg
    color: #FFF

    position: fixed
    top: $header-height
    bottom: 0
    left: 0
    z-index: $z-page-nav

    

    .main-menu {
        border-top: 1px solid $grey-light
        border-right: 1px solid $grey-light
        height: 100%

        ul {
            border-bottom: 1px solid $grey-dark
            list-style: none
            overflow: hidden
            margin: 0
            padding: 0
            width: $main-menu-width
        }

        li {
            height: $main-menu-width
        }

        a {
            // background: url('images/sprite.png') no-repeat 0 0
            border-top: 1px solid $grey-light
            border-bottom: 1px solid $grey-dark
            color: #888
            font-size: 12px
            font-weight: bold
            line-height: h()
            text-align: center
            text-decoration: none
            // text-transform: uppercase
            
            display: block
            padding-top: h(3)

            &:hover {
                background: $grey-hover
                border-top: none
            }
        }
    }

    .sub-menu {
        display: none
    }
}

.page-body {
    position: absolute
    top: $header-height
    left: $main-menu-width
    right: 0
    bottom: 0
}

.document-nav {
    background: #FFF;
    position: fixed
    top: $header-height
    bottom: 0
    left: $main-menu-width
    padding: h() 0 h() h()
    width: 224px

    .title {
        font-size: 14px
        font-weight: bold
        letter-spacing: 1px
        text-transform: uppercase
        margin: 0
    }

    ul {
        list-style: none
        margin: 0
        padding: 0

        ul {
            display: none
            margin: 0 0 h(.25) h(.5)

            li {
                font-size: $f-small
                line-height: 20px
            }
        }
    }

    a {
        display: block
        padding-right: h()
    }

    .current {
        border-right: 3px solid $blue
        color: $title
        font-weight: bold

        &:hover {
            color: $title
            text-decoration: none
        }
    }

    .active {
        ul {
            display: block
        }
    }
}

.anchor {
    display: block
    overflow: hidden
    margin-top: h(-2)
    width: 0
    height: 0
}


@media only screen and (min-width : 1400px) {
   .component-doc-wrap {
        margin-left: 543px

        section {
            margin-left: -543px
        }

        .left, .right {
            width: 543px
        }
   }
}